* {
  padding: 0;
  bottom: 0;
  font-family: arial;

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to right,
      #9bb2fe,
      #8b96f9,
      #7c88f3,
      #6c8aed,
      #5c6ae7);

}

.game-space {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 600px;
  height: 650px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 5px 5px 10px 2px #5c6ae7;
  

}


.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(38, 42, 82);
  border-radius: 7px;
  margin: 3px;
  width: 150px;
  height: 140px;
  position: relative;

}

/* Style "O"*/
.o {
  position: relative;
  color: white
}

.o::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "O";
  font-size: 100px;
  font-weight: bolder;

}

/* style "X"*/

.x {
  position: relative;
  color: white;
}

.x::after {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "X";
  font-size: 100px;
  font-weight: bolder;

}

/*button reload page*/
.container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  padding-top: 215px;
 
}
.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

#refresh{
    width: 180px;
    height: 60px;
    cursor: pointer;
    background-color: #83a9fc;
    border: 1px solid #82a3fd;
    outline: none;
    transition: 1s ease-in-out;
  
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 0.7s ease-in-out;
}


#refresh:hover {
  transition: 1s ease-in-out;
  background: #4797e7;
}

#refresh:hover svg {
  stroke-dashoffset: -480;
}

#refresh span {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  font-weight: 100;
}
